module "consul_sync" {
  source = "../../modules/consul_sync"
  # Dependency Injection - Required Fields

  affinity = module.kafka.affinity
  eks_cluster = module.zookeeper.eks_cluster

  # Configurable Variables - Optinal Fields 
  {{(GetDefaults "consul_sync" .)}}
}

module "zookeeper" {
  source = "../../modules/consul_sync"
  # Dependency Injection - Required Fields

  affinity = module.kafka.affinity
  eks_cluster = module.zookeeper.eks_cluster

  # Configurable Variables - Optinal Fields 
  {{(GetDefaults "consul_sync" .)}}
}

module "karpenter" {
 source = "git::https://gitlab.appsflyer.com/devops/terraform/modules/karpenter.git/karpenter?ref=0.0.1"

 # Dependency Injection - Required Fields
 {{(GetRequired "karpenter" .)}}

 # Configurable Variables - Optinal Fields
 {{(GetDefaults "karpenter" .)}}
}

module "terraform-aws-resource-naming" {
 source = "https://gitlab.appsflyer.com/devops/terraform/modules/karpenter/"

 # Dependency Injection - Required Fields
 {{(GetRequired "terraform-aws-resource-naming" .)}}

 # Configurable Variables - Optinal Fields
 {{(GetDefaults "terraform-aws-resource-naming" .)}}
}

module "iam-account" {
  source            = "git::https://github.com/terraform-aws-modules/terraform-aws-iam.git/modules/iam-account"

 {{(GetRequired "iam-account" .)}}

 {{(GetDefaults "iam-account" .)}}
}