{{$rootFolderPath := .RootPath}}
terraform {
  experiments = [module_variable_optional_attrs]
}
{{range $moduleName,$moduleData := .Module}}
module {{$moduleName}} {
  source = "{{$rootFolderPath}}/{{$moduleName}}"
  
  # Dependency Injection - Required Fields {{range $varName,$varValue :=  $moduleData.RequiredFields}}
  # {{$varName}} = module. TODO: Add Required Field {{end}}
  
  # Configurable Variables - Optinal Fields {{range $mapName,$mapProperties :=  $moduleData.ModuleData.MapLocals}}
  {{$mapName}} = local.{{$moduleName}}.{{$mapName}} {{end}} {{range $mapName,$mapProperties :=  $moduleData.ModuleData.SimpleLocals}}
  {{$mapName}} = local.{{$moduleName}}.{{$mapName}} {{end}}
}{{end}}